extends layout

block content
  a(href=`/`) Завантажити файл
  h1= 'Screens'
    each val in screens
      h3= val.login
      ul
      each scr in val.screens
        li
          a(href=`/screens/${scr}`) #{scr}
        br
